<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-2.1.0.js'></script>
  </head>
  <body>
        <input id='url' type="text">
        <button>获取文档</button>
  </body>
  <script type='text/javascript'>
    $('button').click(function(){
        let url = $('#url').val();
        if(url){
            $.post('/markup/spidepage',{url:url},(res)=>{
                if(res){
                    $('html').html(res);
                }
            })
        }
    })
  </script>
</html>
